<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Bienvenue sur le super site des EVENTS DE LA MUERTE</h1>
          <p>Si toi aussi tu as envie de faire une méga teuf, cliques sur le bouton ci-dessous </p>
          <%= link_to 'Faire une grande teuf !', new_event_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>


        <hr>

      </div> <!-- /container -->

      <h2 style="font-weight: lighter"> La liste des events !</h2>
      </div>
      <div class = "container-fluid bg-light text-dark p-3 mb-5 rounded">
        <div class = "card-group w-100 "> 
          <% if @events.length !=0 %>
            <% @events.each do |event| %>
              <div class="card text-center m-1 rounded" style="min-width: 200px; border: 1px solid rgba(0,0,0,.125)">
                <div class="card-body">
                  <h5 class="card-title"><%= event.title%></h5>
                  <p class="card-text"><%= event.description %> </p>
                  <a href="/events/<%= event["id"] %>" class="btn bg-dark text-light">Voir l'event</a>
                  
                </div>
              </div> 
            <% end %>
          <%else%>
              <p> Soit le premier à organiser une teuf, on ne peut plus compter sur personne..... </p>
          <% end %>
        </div>
      </div>

    </main>